<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css and js files r not a relative path from the file, but using filepath 
        that is inside public folder as express will understand that only -->
    <link rel="stylesheet" href="/styles/blog_edit_style.css">
</head>
<body>
    <h1>Welcome <%= username %>!</h1>
    <h2>Add a blog</h2>
    <!-- <form> -->
        <input type="text" id = "blog-title-input" placeholder="Enter Blog Title">
        <input type="text" id = "blog-author-input" placeholder = "Enter Author">
        <textarea id="blog-body" placeholder="Blog body"></textarea>
        <!-- <input type="submit" value = "Submit" id = "submit-blog-button"> -->
        <button id = "submit-blog-button">Submit Blog</button>
    <!-- </form> -->

    <h2>Edit a blog</h2>
    <input type="text" id = "search-title-input" placeholder="Enter Blog Title">
    <script src="/scripts/blog_script.js"></script>
</body>
</html>