<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/blog_edit_style.css">
</head>
<body>
    <h1>Blog edit view</h1>

    <input type="text" id = "blog-title-input" placeholder="Enter Blog Title">
    <input type="text" id = "blog-author-input" placeholder = "Enter Author">
    <input type="text" id = "blog-body" placeholder = "Blog body">

    <script src="../public/scripts/blog_script.js"></script>
</body>
</html>